<div id="sub_search">
  <%= t(:search) %>: <%= render "search" %>
</div>

<% if @images.nil? %>
  <%= t(:try_search_again) %>
<% elsif @images.empty? %>
  <%= t(:no_itens_found) %>
<% else %>
  <div>
    <%= t(:found_images, :count => @images.total_entries) %>
  </div>

  <%= render :partial => "images/image", :collection => @images %>
<% end %>

<div class="clear"></div>

<%= will_paginate @images if @images %>

<div class="clear"/>

<small><%= render 'images/untagged' %></small>

<br/>

<%= home_page_link %>