<% form_tag '/home/search', :method => :get do %>
  <%= label_tag "Search" %>
  <%= text_field_tag :search %>
  
  <%= submit_tag "Find" %>
<% end %>

<% if @images.nil? %>
  no search
<% elsif @images.empty? %>
  no itens found
<% else %>
  <ul>
    <li><img src="/images/little_dog.png"/><span class="tag"><%= "dog" %></span></li>
  </ul>
<% end %>

<%= params[:search].inspect %>