<div id="sub_search">
  Search: <%= render "search" %>
</div>

<% if @images.nil? %>
  Try searching for something above.
<% elsif @images.empty? %>
  Sorry, no itens found :( Try searching again.
<% else %>
  <%= render :partial => "images/image", :collection => @images %>
<% end %>

<div class="clear"></div>

<%= will_paginate @images %>

<div class="clear"/>

<small><%= render 'images/untagged' %></small>

<br/>

<%= home_page_link %>