<div class="image">
  <img src="/images/icones/<%= image.image %>">
  <a href="<%= edit_image_path(image) %>"><%= image.image %></a>
  <span class="tags" data-url="<%= image_path(image) %>"><%= image.tag_names %></span>  
</div>