<h1><%= t(:editing) %></h1>

<% form_for @image do |f| %>

<p><img src="/images/icones/<%= @image.image %>"/> <small><%= @image.image %></small></p>

<p>Tags: <%= f.text_field :tag_list %></p>

<%= f.submit t(:save_changes) %> <%= t(:or) %> <%= link_to t(:cancel).titleize, images_path %>

<% end %>