<h1>There are <%= pluralize(@images.total_entries, "image") %></h1>
<small>Click on tag names to edit</small>

<p>Filters: <%= link_to_filter "all" %> | <%= link_to_filter "untagged" %> | <%= link_to_filter "tagged" %></p>

<%= render :partial => "image", :collection => @images %>

<div class="clear"></div>

<%= will_paginate @images %>

<br/>

<%= home_page_link %>