<h1><%= t(:images_title, :count => @images.total_entries) %></h1>
<small><%= t(:click_tag_names_info) %></small>

<p><%= t(:filters) %>: <%= link_to_filter "all" %> | <%= link_to_filter "untagged" %> | <%= link_to_filter "tagged" %></p>

<%= render :partial => "image", :collection => @images %>

<div class="clear"></div>

<%= will_paginate @images %>

<br/>

<%= home_page_link %>